@media only screen and (min-width: 761px) {
    .delete-btn-style {
        position: absolute;
        right: 170px;
        top: 5px;
        cursor: pointer;
        padding: 5px 5px 5px 10px;
    }
}

@media only screen and (max-width: 760px) {
    .delete-btn-style {
        position: absolute;
        right: 30px;
        top: 5px;
        cursor: pointer;
        padding: 5px 5px 5px 10px;
    }
}

.delete-btn-style:hover {
    color: #FF1A1A;
}

.add-new-field-btn-style {
    margin-top: 5%;
    font-size: 25px;
}

.add-new-field-btn-style:hover {
    color: #1BFF1B;
    cursor: pointer;
}

.blank-space {
    margin-bottom: 3%;
}

.next-tab-btn, .verify-btn, .generate-url-btn {
    float: right;
    margin-right: 4%;
}

.back-tab-btn {
    float: left;
    margin-left: 4%;
}

.refresh-btn {
    float: left;
    margin-left: 1%;
}

.alert-fixed {
    position:fixed; 
    top: 0px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
    border-radius:0px
}

.wrong-answer-style {
    color: #FF0000;
}

.correct-answer-style {
    color: #A5D765;
}

.hr-style {
    border-color: #8B9DC3;
    margin: 1% auto 1% auto;
    width: 150px;
}